<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wirewhale</title>

        <style type="text/css">
            body {
                margin: 0px;
                padding: 0px;
                border: 0px;

                font-family: sans-serif;
                font-size: 20px;
                line-height: 1em;

                background-color: #ffffff;
                background-image: radial-gradient(#c2c5ff 1px, #ffffff 1px);
                background-size: 2em 2em;
            }

            .visualization, .description {
                float: left;
                padding: 0.5em;
            }

            .visualization {
                width: 70%;
                overflow-x: scroll;
                overflow-y: hidden;

                border-right: 2px solid #c2c5ff;
                white-space: nowrap
            }

            .visualization, .visualization div {
                padding: 0;
                margin: 0;
            }

            #item {
                border-right: solid 2px black;
                height: 1000px;
                width: 150px;
            }


        </style>

    </head>
<body>
    <div class="main">
        <div class="visualization">
            <p>Line 1............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 2............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 3............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 4............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 5............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 6............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 7............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 8............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 9............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 0............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 1............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 2............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 3............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 4............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 5............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 6............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 7............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 8............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 9............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 0............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 1............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 2............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 3............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 4............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 5............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 6............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 7............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 8............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 9............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 0............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 1............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 2............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 3............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 4............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 5............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 6............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 7............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 8............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 9............................................................................................................................................................................................................................................................................................................</p>
            <p>Line 0............................................................................................................................................................................................................................................................................................................</p>
        </div>
        <div class="description">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>0</p>
        </div>

        <!-- <div class="visualization">
            <div class="ipaddress"></div>
            <div id="item"></div>
        </div>
        <div class="description">
            <p>ligne 1</p>
        </div> -->
    </div>
</body>
</html>
